<!doctype html>
<html lang="en">
<%- include('includes/head'); %>
<body>
  <%- include('includes/nav'); %>
  <h1 class="text-center">Not found!</h1>
    <img src="images/404.jpg" class="img-fluid" alt="not found">
  <%- include('includes/footer'); %>
</body>
</html>